Options -Indexes
DirectoryIndex indexAplicacionFinal.php
ErrorDocument 404 /207DWESAplicacionFinalBorja/errors/404.html
ErrorDocument 403 /207DWESAplicacionFinalBorja/errors/403.html
#RewriteEngine On
#RewriteCond %{SERVER_PORT} 80
#RewriteRule ^(.*)$ https://daw207.ieslossauces.es/207DWESAplicacionFinalBorja/$1 [R,L]